
.DS_Store
dependency-reduced-pom.xml
target/
output/
output
.classpath
.project
.settings
*.iml
*.ipr
*.iws
*.swp
.gitignore.swp
docs/reference/src/main/docbook/en-US/version_info.xml
.idea
.forge_settings
.factorypath
atlassian-ide-plugin.xml
.externalToolBuilders
